@font-face {
    font-family: "Nexa";
    src: local("Nexa Heavy"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-heavy-webfont.woff2") format("woff2"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-heavy-webfont.woff") format("woff"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-heavy-webfont.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Nexa";
    src: local("Nexa XBold"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-extrabold-webfont.woff2") format("woff2"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-extrabold-webfont.woff") format("woff"),
       url("https://assets.peerigon.com/peerigon/fonts/nexa/nexa-extrabold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Light"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-light.woff2") format("woff2"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-light.woff") format("woff"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Bold"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-bold.woff2") format("woff2"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-bold.woff") format("woff"),
       url("https://assets.peerigon.com/peerigon/fonts/lato/lato-bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: local("Ubuntu Mono"),
       url("https://assets.peerigon.com/peerigon/fonts/ubuntu/ubuntumono-r-webfont.woff") format("woff"),
       url("https://assets.peerigon.com/peerigon/fonts/ubuntu/ubuntumono-r-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
