#slides * {
  margin: 0;
}
#slides p,
#slides div,
#slides ul,
#slides ol,
#slides blockquote,
#slides pre,
#slides img {
  margin-bottom: 1em;
}
#slides p:last-child,
#slides div:last-child,
#slides ul:last-child,
#slides ol:last-child,
#slides blockquote:last-child,
#slides pre:last-child,
#slides img:last-child {
  margin-bottom: 0;
}
#slides h1,
#slides h2,
#slides h3,
#slides h4,
#slides h5,
#slides h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}
#slides img {
  display: block;
}
#slides code {
  text-align: left;
  font-family: "Operator Mono", monospace;
  font-weight: 300;
  line-height: 1.5;
}
#slides code div {
  margin-bottom: 0;
}
#slides small {
  font-size: 15px;
}
#slides h1,
#slides h2,
#slides h3,
#slides h4,
#slides h5,
#slides h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
  font-family: "Nexa", sans-serif;
  font-weight: 900;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}
#slides ul {
  margin-left: -1.6em;
  list-style: none;
}
#slides ul > li::before {
  margin-right: 0.5em;
  margin-left: -1em;
  content: "–";
}
#slides blockquote {
  margin: 1em;
  padding: 0 1em;
  color: black;
  font-family: "Nexa", sans-serif;
  font-weight: 900;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}
#slides blockquote p::before {
  margin-right: 0.2em;
  margin-left: -0.5em;
  content: "\203A";
}
#slides blockquote p::after {
  margin-right: -0.5em;
  margin-left: 0.2em;
  content: "\2039";
}
#slides a {
  padding-bottom: 0.1em;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #282828;
}
#slides table tr td {
  padding-right: 2rem;
}
#slides .remark-slide {
  display: block;
  height: 100%;
}
#slides .remark-slide-content {
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  color: #353535;
  background-color: white;
  background-image: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.05) 100%);
  background-position: 50% !important;
  background-size: cover !important;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}
#slides .remark-slide-number {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 40px;
  text-align: center;
  opacity: 1;
  color: #baaca4;
  font-size: 15px;
  line-height: 1;
}
#slides .slides-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 40px;
  text-align: left;
  color: #baaca4;
  font-size: 15px;
  line-height: 1;
}
#slides .slides-chapter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
}
#slides .slides-chapter h2,
#slides .slides-chapter h3,
#slides .slides-chapter h4,
#slides .slides-chapter h5 {
  color: inherit;
  font-size: 55px;
}
#slides .slides-chapter .remark-slide-number,
#slides .slides-chapter .slides-header {
  display: none;
}
#slides .slides-chapter.theme-mint {
  background-color: #46e1c8;
}
#slides .slides-chapter.theme-whiskey {
  background-color: #e6be00;
}
#slides .slides-chapter.theme-spinach {
  background-color: #127373;
}
#slides .slides-chapter.theme-danger {
  background-color: #ec1d4a;
}
#slides .slides-chapter.theme-success {
  background-color: #12c182;
}
#slides .slides-fullscreen-image img {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  object-fit: contain;
}
#slides .slides-centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#slides .slides-centered ol,
#slides .slides-centered ul {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
#slides .slides-centered blockquote {
  display: flex;
  text-align: center;
  align-items: center;
}
#slides .slides-centered blockquote::before {
  display: block;
  margin-right: 0.75em;
  content: "\203A";
  text-align: right;
  flex: 1;
}
#slides .slides-centered blockquote::after {
  display: block;
  margin-left: 0.75em;
  content: "\2039";
  text-align: left;
  flex: 1;
}
#slides .slides-centered blockquote p {
  margin-top: 0.2rem;
  flex: 0 20em;
}
#slides .slides-centered blockquote p::before,
#slides .slides-centered blockquote p::after {
  display: none;
}
#slides .slides-content {
  min-height: 50%;
}
#slides .slides-content > *:first-child {
  margin-top: 0;
}
#slides .slides-columns {
  display: flex;
  flex-direction: row;
  text-align: left;
}
#slides .slides-columns ul {
  margin-right: 0.8em;
  margin-left: -0.7em;
}
#slides .slides-columns h2:first-child,
#slides .slides-columns h3:first-child,
#slides .slides-columns h4:first-child,
#slides .slides-columns h5:first-child,
#slides .slides-columns h6:first-child {
  margin-top: 0;
}
#slides .slides-columns > * {
  margin-bottom: 0;
}
#slides .slides-columns > *:not(:last-child) {
  margin-right: 1.6em;
}
#slides .slides-flex-1 {
  flex: 1;
}
#slides .slides-text-left {
  display: block;
  text-align: left;
}
#slides .slides-text-centered {
  display: block;
  text-align: center;
}
#slides .slides-text-right {
  display: block;
  text-align: right;
}
#slides .slides-footnote {
  position: fixed;
  right: 100px;
  bottom: 40px;
  left: 100px;
  color: #baaca4;
  font-size: 15px;
}
#slides .slides-footnote ol {
  margin-bottom: 0;
}
#slides .slides-footnote ol li {
  padding-left: 0.5em;
}
#slides .slides-footnote a {
  border-bottom-color: #baaca4;
}
#slides .slides-footnote-mark {
  vertical-align: text-top;
  font-size: 0.5em;
}
#slides .slides-quote-ref {
  display: block;
  margin-top: 0.5em;
  margin-bottom: -2em;
  color: #baaca4;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}
#slides .slides-quote-ref a {
  color: inherit;
  border-bottom-color: #baaca4;
}
#slides .slides-label {
  position: relative;
  top: -0.1em;
  margin-right: 0.2em;
  padding: 0.25em;
  text-transform: uppercase;
  color: white;
  background-color: #282828;
  font-size: 0.7em;
  line-height: 0;
}
#slides .slides-danger {
  color: white;
  background-color: #ec1d4a;
}
#slides .slides-danger .remark-code {
  border: 5px solid #ec1d4a;
}
#slides .slides-success {
  color: white;
  background-color: #12c182;
}
#slides .slides-success .remark-code {
  border: 5px solid #12c182;
}
#slides .slides-code-good > pre {
  margin: 0;
}
#slides .slides-code-good > pre > code {
  border: 5px solid #12c182;
}
#slides .slides-code-bad > pre {
  margin: 0;
}
#slides .slides-code-bad > pre > code {
  border: 5px solid #ec1d4a;
}
#slides .slides-vr {
  display: block;
  border-left: 2px solid #baaca4;
}
#slides .slides-small {
  font-size: 15px;
}
#slides .slides .theme-mint a:hover {
  color: #46e1c8;
  border-bottom-color: #46e1c8;
}
#slides .slides .theme-mint blockquote::before,
#slides .slides .theme-mint blockquote p::before,
#slides .slides .theme-mint blockquote::after,
#slides .slides .theme-mint blockquote p::after {
  color: #46e1c8;
}
#slides .slides .theme-whiskey a:hover {
  color: #e6be00;
  border-bottom-color: #e6be00;
}
#slides .slides .theme-whiskey blockquote::before,
#slides .slides .theme-whiskey blockquote p::before,
#slides .slides .theme-whiskey blockquote::after,
#slides .slides .theme-whiskey blockquote p::after {
  color: #e6be00;
}
#slides .slides .theme-spinach a:hover {
  color: #127373;
  border-bottom-color: #127373;
}
#slides .slides .theme-spinach blockquote::before,
#slides .slides .theme-spinach blockquote p::before,
#slides .slides .theme-spinach blockquote::after,
#slides .slides .theme-spinach blockquote p::after {
  color: #127373;
}
#slides #slide-cover .remark-slide-number,
#slides #slide-cover .slides-header {
  display: none;
}
#slides #slide-cover-img {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 200px;
}
