// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
.author
  font-weight: 300
  font-size: 1.2rem

.cover-title
  display: block
  text-align: center
  font-size: 2rem

.highlight {
  font-size: 2rem
}

.demo-time {
  background-color:#111
  color: white
}

.image-title
  text-align: center;

a, a:visited
  color: #0074D9
  transition: color .15s ease-in

a:hover, a:active
  color: #ff6300

.link-with-icon
  display: inline-flex
  align-items: center

  img
    margin-left: 4px

.quote
  font-style: italic
  line-height: 1.5

.cite
  font-style: italic
  color: rgba(0, 0, 0, .7)
