.rightImage {
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 75% 100%);
}

#slides .remark-slide-content {
    padding-right: 25%;
}